<div class="row">
    <div id="reset" class="col s6 offset-s3">
        <h2>Reset password</h2>
        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}
        <form action="/auth/reset" method="POST">
            <div class="input-field">
                <input id="email" name="email" type="email" class="validate" required>
                <label for="email">Email</label>
                <span class="helper-text" data-error="Enter the email"></span>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>
